{% extends 'base.html' %}

<title>{% block titulo %}Editar servicio{% endblock %}</title>

{% block breadcumbs%}

          <li class="breadcrumb-item">
            <a href="{% url 'lista_servicios'%}">Lista de Servicios</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'nuevo_servicio'%}">Agregar servicio</a>
          </li>
{% endblock %}

{% block contenido %}

<h1>Editar servicio</h1>
	<form action="" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Guardar cambios</button>
		<a href="{% url 'lista_servicios' %}"></a>
	</form>


{% endblock %}